body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style-type: none;

   
    
}


 nav{
        .linkedin{

            img{
                
                transition: .3s;
                height: 75px;
                width: 75px;
                margin: auto;
            }

        }

        .github{

            img{
                height: 63px;
                width: 63px;
                margin: 5px;
                
            }
        }

        .instagram{

            img{
                height: 62px;
                width: 62px;
                padding: 7px;
                
            }
        }
        
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        
    }

    .linkedin:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    .github:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    .instagram:hover{
        transform: scale(1.05);
        cursor: pointer;
    }

header {
    img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        text-align: center;
    }
    h1{
        font-size: 40px;
    }
    margin: 20px;
}
.center{
    text-align: center;
    align-items: center;
    padding: 40px;
}
main{
    margin: 20px;
    margin-right: 500px;
}
